.footer-topBox {
  margin-top: -150px;
}
.footer-icon-text {
  font-family: "Nunito Sans", sans-serif;
  font-size: 23px;
  font-weight: bold;
  color: #ffffff;
}
.footer-head-text {
  color: white;
}
.footer-text-list {
  color: #a3abb8;
}
