.brand-icon-text {
  font-family: "Nunito Sans", sans-serif;
  font-size: 23px;
  font-weight: bold;
  color: #29303c;
}
.brand-text {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  color: #29303c;
}
.brand-btn {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  color: #fafafa;
  background-color: #ff1f59;
}
